server:
  port: 8082

spring:
  application:
    name: enrollment-service

  datasource:
    url: jdbc:mysql://localhost:3306/lms?useSSL=false&allowPublicKeyRetrieval=true
    username: root
    password: test

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect

  kafka:
    bootstrap-servers: localhost:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
