server:
  port: 8085

spring:
  application:
    name: auth-service

#  security:
#    user:
#      name: admin
#      password: tear@123
#      roles: ADMIN



  datasource:
    url: jdbc:mysql://mysql:3306/lms?useSSL=false&allowPublicKeyRetrieval=true
    username: root
    password: test

  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect

logging:
  level:
    org.springframework.security: INFO